/* body {
    font-family: Arial, sans-serif;
    font-size: 16px;
} */

/* Reset y fuente base */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f2f2f2;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: start;
    min-height: 90vh;
}

.container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    width: 100%;
    height: 80%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#checkboxGroupProductMaterial,
#textareaProductDescription,
button {
    grid-column: span 2;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

#checkboxGroupProductMaterial {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 5px;
}

#checkboxGroupProductMaterial label {
    font-weight: normal;
    display: flex;
    align-items: center;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

legend {
    margin-bottom: 10px;
    width: 100%;
}

button[type="submit"] {
    background-color: #1aab8a;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 12px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #1bab8f;
}
